RewriteEngine On


####### Bezpieczeństwo #######

#Użytkownik nie może wchodzić do folderu prywatnego aplikacji (_private_)
RewriteRule ^_private_/.*$ index.php


####### Ładne Linki #######

#/settlement/akcja -> index.php?action=settlement&saction=akcja
RewriteRule ^settlement/([a-z]+)$ index.php?action=settlement&saction=$1

#/akcja -> index.php?action=akcja

RewriteRule ^([a-z]+)$ index.php?action=$1