RewriteEngine On


####### Bezpieczeństwo #######

#Użytkownik nie może wchodzić do folderu prywatnego aplikacji (_private_)
RewriteRule ^_private_/.*$ index.php


####### Ładne Linki #######

#index.php?action=akcja -> /akcja

RewriteRule ^([a-z]+)$ index.php?action=$1